:root {
    --color-primary: #eb2f64;
    --color-primary-light: #a8e02f;
    --color-primary-dark: #BA265D;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3); }

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; }

    .container {
        flex: 0 0 40%;
        display: flex;
        align-items: center;
        justify-content: center; }

    .form-control {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.5rem; }

    .form-control:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3); }

    .form-control:focus + .input-group-text {
            background-color: var(--color-grey-light-3); }

/**
 * border radius
 */
 .nav {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: left; }
    .nav > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: left; }
    .nav-item > *:hover {
      background-color: var(--color-grey-light-2); }

 .btn,
 .titlecard {
     border-radius: 0px;
 }
 
 /* cart badge */
 
 .cart-badge,
 .cart-badge:hover {
     border-radius: 50%;
     padding: 6px;
     font-size: 8px;
     font-style: italic;
     background: #ee7752;
 }
 /**
  * single product page - product name
  */
 
 .name {
     background: indigo;
     color: #fff;
     font-weight: bold;
 }
 

 /**
  * product image on card
  */
 
 .product-img {
     min-height: 100px;
 }
 
 .titlecard h2 {
     margin-top: 20px;
 }
 
 @media only screen and (max-width: 800px) {
     .titlecard h2 {
         margin-top: 100px;
     }
 }
 
 /**
  * titlecard animation
  */
 
 .titlecard {
     display: flex;
     flex-direction: row;
     height: 64px;
     color: rgb(20, 20, 20);
     background-size: 400% 400%;
     z-index: 100%;
 }
 
 @-webkit-keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }
 
 @-moz-keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }
 
 @keyframes Gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }
 